.shop-wrapper {
  width:100%;
}

.shop-content {
  margin: 25px 0;
}

.shop-steps {
  text-align: center;
  margin:50px 0;
}

.shop-next-button {
  position: fixed;
  bottom:20px;
  right:20px;
  z-index:999;
}