.shop-wrapper {
  width:100%;
}

.shop-content {
  margin: 25px 0;
}

.shop-steps {
  text-align: center;
  margin:50px 0;
}

.shop-next-button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 20px;
}

@media screen and (max-width:700px) {
  .shop-next-button,
  .shop-next-button button {
    width:100%;
  }
}