html, body {
  background-color: #111!important;
  background:#111!important;
}

.pusher {
  background:url('/static/index/img/background-section-2.jpg') repeat-y!important;
  width: 100%;
  background-color: #111;
  overflow-x: hidden;
  transition:.2s all ease;
}

.sidebar {
  transition:.2s all ease;
}

.ui.visible.left.sidebar~.fixed, .ui.visible.left.sidebar~.pusher {
  opacity:.5;
}

p.lead {
  font-size:30px!important;
}

p.lead.small {
  font-size:20px!important;
}

.animated {
  transition:.6s all ease-in-out;
}

.hidden.menu {
  display: none;
}
.hidden {
  opacity:0;
}
.hidden.visible {
  opacity:1!important;
}
.main-menu {
  width:100%;
}

@media screen and (max-width: 700px) {
  .main-menu .menu .item {
    display: none!important;
  }
  .main-menu .menu .item.toc {
    display: block!important;
  }
}
@keyframes chief-animation {
  0% { transform: translate(-20px) rotate(-5deg); }
  25% { transform: translate(0px) rotate(0deg); }
  50% { transform: translate(20px) rotate(5deg); }
  75% { transform: translate(0px) rotate(0deg); }
  100% { transform: translate(-20px) rotate(-5deg); }
}

.chief-animated {
  animation: chief-animation 2s infinite linear;

}

.main-menu {
  position: fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  background:rgba(0,0,0,0.4);
  z-index:999;
}

.main-menu .menu a.item  { 
  padding: 19px 11px!important;
}

.visuals,
.visuals-head {
  height:100%;
  width:100%;
  position: absolute;
  z-index:5;
  left:0;
  top:0;
}

.visuals-head .visual {
  position: absolute;
}

.stripe .section-content {
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:100%;
  z-index:100;
  display:flex;
  justify-content: center;
  align-items:center;
}

.stripe h1.header {
  font-size:60px;
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 900px) {
  .stripe h1.header {
    font-size:40px;
  }
}
.ui.vertical.stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 0em;
  padding-bottom: 4em;
  flex-direction: column;
}
.ui.vertical.stripe.section-1 {
  justify-content: flex-start;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

#scene {
  z-index:10;
  width:100%;
  position: absolute;
  left:0;
  top:0;
  height:100%;
}

.layer {
  width:100%;
  height:100%;
}

.jumbotron {
  height: 100%!important;
  display: flex!important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron .primary-header {
  margin-bottom:0;
  font-size:110px!important;
  font-weight:bold!important;
  text-shadow: 1px 1px 12px #000;
  font-family: 'Bad Script', cursive;
}

@media screen and (max-width: 900px) {
  .jumbotron .primary-header {
    font-size:50px!important;
  }
}

.jumbotron .secondary-header {
  margin-top:0;
  font-size:35px;
  text-transform: none!important;
  text-shadow: 1px 1px 12px #000;
  max-width:450px;
  text-align:center;
}

.jumbotron .secondary-header em {
  display:block;
  font-weight:100;
  font-size:40px;
  color:rgba(255,255,255,0.7);
}

.jumbotron .action-button {
  margin-top:20px;
}

@media screen and (max-width:1000px) {
  .jumbotron .action-button {
    display:none;
  }
}

.section-1 {
  background:transparent!important;
}

.section-2 {
  padding: 17em 0!important;
  background:transparent!important;
  position: relative;
  padding-top: 17em!important;
}

.section-2 .images {
  position: relative;
  height:500px;
  width:100%;
}


.section-2 .image-1 {
  padding-top:25%;
}

.section-2 .image-2 {
  position: absolute;
  left: -9%;
  top: -20%;
  width: 50%;
  z-index: -1;
}

.section-3 {
  text-align: center;
  background:transparent!important;
  padding-bottom:28em!important;
  padding-top:28em!important;
}

.section-4 {
  padding: 17em 0!important;
  background:transparent!important;
}

.section-4 .images {
  position: relative;
}

.section-4 .image-1 img {
  position: absolute;
  left: -50%;
  top: 290px;
}

.section-5 {
  background:transparent!important;
}

.section-5 .images {
  position: relative;
  height:500px;
  width:100%;
  padding-top: 16%;
}

.section-5 .image-1 {
  position: absolute;
  right: -10%;
  top: 80%;
  width: 60%;
  z-index: 10;
}

.section-5 .image-1 img {
  position: absolute;
  left:0;
  top:0;
}

.section-6 {
  text-align:center!important;
  background:transparent!important;
  overflow:hidden;
}

.section-6 .image-with-description {
  position: relative;
  width:100%;
  text-align:center;
}

.section-6 .image-with-description .description {
  position: absolute;
  left:50%;
  margin-left:-300px;
  max-width:600px;
  bottom:50%;
  width:100%;
  margin-bottom:-100px;
}

.section-contact {
  background:transparent!important;
}

.section-contact input,
.section-contact textarea {
  background:transparent!important;
  color:#fff!important;
}

.section-footer {
  background:transparent!important;
}

.geometry.square {
  border:3px solid #fff;
  transform: rotate(0deg) scale(0.3);
  width:200px;
  height:200px;
}

@media screen and (min-width:2300px) {
  .section-2 .images {
    width:130%;
  }
  .section-2 .image-1 {
    padding-top:0;
  }

  .section-2 .image-2 {
    top: 110%;
  }
}

@media screen and (min-width:2100px) {
  .stripe h1.header {
    font-size:100px!important;
  }

  .ui.grid.container {
    width:1550px!important;
  }

  p.lead.small,
  p.lead {
    font-size:35px!important;
  }

  .section-1.stripe h1.header {
    font-size:150px!important;
  }

  .jumbotron .secondary-header {
    font-size:50px!important;
    max-width:none;
  }
  
}

@media screen and (max-width:900px) {
  .section-4 .visual-custom-1,
  .section-1 .chapter-2,
  .section-1 .chapter-10,
  .section-1 .chapter-11 {
    display:none!important;
  }
}

@media screen and (max-width:800px) {
  .section-1 .chapter-4,
  .section-1 .chapter-6 {
    display:none!important;
  }
}

@media screen and (max-width:700px) {
  p.lead.small,
  p.lead {
    font-size:18px!important;
  }

  .section-content {
    position: relative!important;
  }

  .ui.vertical.stripe.section-1 {
    padding-top: 8em!important;
  }
  .ui.vertical.stripe {
    min-height:auto!important;
    padding-top:3em!important;
    padding-bottom:3em!important;
  }

  .section-2 .visual-custom-1,
  .section-2 .visual-default,
  .section-2 .images > .image-2,
  .section-4 .images > .image-1,
  .section-5 .images > .image-1,
  .section-3 .visuals-head,
  .section-4 .visuals-head,
  .section-5 .visuals-head,
  .section-contact .visuals-head,
  .geometry {
    display:none!important;
  }
  .section-2 .images,
  .section-5 .images {
    height: auto!important;
  }
  .section-2 .images > * {
    width:100%!important;
    position: relative!important;
  }

  .section-2 .images > .image-1,
  .section-5 .images  {
    padding-top:0;
  }
  .section-2 .images > .image-1 img,
  .section-4 .images > .image-2 img,
  .section-5 .images > .image-2 img {
    margin: -20px!important;
    width: 104%;
  }

  .section-5 .images > .image-2 img {
    margin: -9px!important;
    width: 104%;
  }

  .section-3 .visuals-head {
    display:none!important;
  }

  .section-4 .section-content {
    text-align:center;
  }

  .section-6 {
    max-height: 500px;
  }
  .section-6 .image-with-description .description {
    left:0;
    margin-left:0;
  }
}

#videoContainer img {
  width:100%;
}


.mobile-only {
  display:none;
}

.desktop-only {
  display:block;
}

@media screen and (max-width:700px) {
  .mobile-only {
    display:block;
  }
  .desktop-only {
    display:none;
  }
}

#map .action-close {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -95px;
}

@media screen and (min-width: 1920px) {
  .pusher {
    background-size: 100% auto!important;
  }
}
