{
  "presets":[
      "env", "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    [
      "transform-semantic-ui-react-imports", {
        "importType": "commonjs"
      }
    ]
  ]
}