{
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": ["react", "babel"],
	"rules": {
		"indent": [2, "tab"],
		"quotes": ["error", "double"],
		"semi": ["error", "always"],
		"no-console": 0
	}
}
