@import "~@variables/z-index.less";
@import "~@variables/breakpoints.less";
@import "~@variables/colors.less"; 
@import "~@variables/spacings.less";

@background-opacity: 0.9;
@background: rgba(0, 0, 0, @background-opacity);

.menu {
  transition: .2s all ease;
  background: @background !important;
  height: @header-space;
  max-height: @header-space;
  min-height: @header-space;
  opacity: 1;
  :global(.item) {
    padding: 10px !important;
    font-size: 18px!important;
    align-self: center!important;
    &:hover {
      background: transparent !important;
    }
    &:global(.active) {
      border-color: transparent !important;
      a {
        color: @primary !important;
      }
    }
    &.widget {
      position: initial !important;
    }
    &.toc {
      display: none !important;
      font-size: 21px !important;
      margin-left: 15px !important;
    }
  }
  &.hidden {
    opacity: 0 !important
  }
}

@media only screen and (max-width: @largeMin) {
  .menu {
    :global(.item) {
      display: none !important;
      &.widget {
        display: block !important;
      }
      &.toc {
        display: block !important;
      }
    }
  }
}