@import "~@variables/z-index.less";
@import "~@variables/breakpoints.less";
@import "~@variables/colors.less";
@import "~@variables/spacings.less";

@background-opacity: 0.9;
@background: rgba(0, 0, 0, @background-opacity);

.menu {
  transition: 0.2s all ease;
  background: @background !important;
  height: @header-space;
  max-height: @header-space;
  min-height: @header-space;
  opacity: 1;
  :global(.item) {
    padding: 10px !important;
    font-size: 18px !important;
    align-self: center !important;
    &:hover {
      background: transparent !important;
    }
    &:global(.active) {
      border-color: transparent !important;
      a {
        color: @primary !important;
      }
    }
    &.toc {
      margin-left: 20px !important;
    }
  }
  &.hidden {
    opacity: 0 !important;
  }
}
 