.phone-overlay {
  position: fixed;
  right: 25px;
  bottom:25px;
  z-index:999;
}

.phone-overlay-button {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border: 0;
  background: rgb(175, 99, 99);
  box-shadow: 1px 1px 1px #000;
  text-align:center;
  outline: none;
}

.phone-overlay-button i {
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
}

.phone-overlay-content {
  position: absolute;
  padding-right:30px;
  bottom: 100%;
  right: 0;
  z-index: 1000;
  margin-bottom: 15px;
  border-radius: 4px;
  background: #fff;
  width: 230px; 
  padding: 20px;
  border-bottom-right-radius: 26px;
  border-top-left-radius: 26px;
}

.phone-overlay-content h3.header {
  margin-top: 0!important;
}

.phone-overlay-content .phone-number {
  font-size: 17px;
}

.phone-overlay-content-close {
  opacity: .5;
  transition: .2s all ease;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.phone-overlay-content-close:hover {
  opacity: 1;
  font-size:14px;
}