.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 999;
}

.main-menu .menu a.item  { 
  padding: 19px 11px!important;
}

@media screen and (max-width: 1200px) {
  .main-menu .menu .item {
    display: none!important;
  }
  .main-menu .menu .item.toc {
    display: block!important;
  }
}

.main-menu .menu .item {
  font-size: 19px!important;
  align-self: center!important;
}

@media screen and (max-width: 1200px) {
  .main-menu .menu .item {
    font-size: 16px!important;
  }
}

.secondary.pointing.menu .toc.item {
  display: none;
}