.cart-widget-cart {
  background: rgba(255,255,255,0.1);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
  transition:.2s all ease-in-out;
}

.cart-widget-item-total {
  font-weight:bold;
  font-size:16px;
  margin:10px 0;
}

.cart-widget-cart-info {
  padding: 10px;
  text-align: left;
  margin-right: 10px;
}

.cart-widget-cart-button-text {
  font-size: 16px;
  margin-right: 10px;
}

.cart-widget-cart-button {
  padding: 14px 18px;
}

.cart-widget-cart-amount {
  color:#666;
  font-size: 13px;
}

.cart-widget-cart-expand {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  margin-top:20px;
  border-radius: 4px;
  padding:20px;
  min-width: 300px;
  width: auto;
  white-space: nowrap;
  color: #fff;
  box-shadow: 1px 1px 12px 13px rgba(0, 0, 0, 0.54);
}

.cart-widget-cart-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #eee;
  position: absolute;
  top: -5px;
  right: 15px;
}

.cart-widget-cart-items {
  max-height:500px;
  overflow-y: auto;
}

.cart-widget-item {
  text-align: left;
  margin-bottom: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #eee;
}

.cart-widget-item:last-child {
  border-bottom:0;
  padding-bottom:0;
  margin-bottom:0;
}

.cart-widget-item-title {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}

.cart-widget-item-title .header {
  font-size: 18px!important;
}

.cart-widget-item-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.amount-changer-current {
  margin: 0 10px;
}

.amount-changer-total {
  font-weight: bold;
  font-size:17px;
}


.amount-changer-total-button {
  margin: 10px 0;
  text-align: left;
  font-size:18px;
  font-weight: bold;
}

.amount-changer-remove {
  cursor: pointer;
  float: right;
}

.cart-widget-cart-msg {
  display: flex;
  text-align: center;
  flex-direction: column;
}