.cart-widget-cart {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
  transition: 0.2s all ease-in-out;
}

.cart-widget-cart .button {
  transition: 0.2s all ease;
}

.shaking {
  animation: shake 200ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  50% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.cart-widget-cart .info {
  padding: 10px;
  text-align: left;
  margin-right: 10px;
}

.cart-widget-cart .button {
  padding: 14px 18px;
}

.cart-widget-cart .amount {
  color: #666;
  font-size: 13px;
}

.cart-widget-cart .expand {
  position: absolute;
  overflow: hidden;
  background: #fff;
  box-shadow: 1px 1px 12px 13px rgba(0, 0, 0, 0.54);
  top: 100%;
  right: 0;
  margin-top: 20px;
  border-radius: 4px;
  max-width: 325px;
  width: 325px;
  min-width: 325px;
  width: auto;
  color: #000;
}

.cart-widget-cart .expand .bottom {
  padding: 20px;
  box-shadow: 0px -2px 19px 0px rgba(0, 0, 0, 0.19);
}

@media screen and (max-height: 680px) {
  .cart-widget-cart {
    position: initial;
  }

  .cart-widget-cart .expand {
    position: fixed;
    right: 0;
    left: 0;
    width: 95%;
    min-width: 95%;
    margin: auto;
    top: 100px;
    max-width: 600px;
  }

  .cart-widget-cart {
    max-width: none;
    width: 100%;
  }

  .cart-widget-cart .items {
    max-height: 50vh !important;
  }
}

.cart-widget-cart .arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #eee;
  position: absolute;
  top: -5px;
  right: 15px;
}

.cart-widget-cart .items {
  max-height: 450px;
  overflow-y: auto;
  white-space: normal;
  padding-right: 10px;
  padding: 20px;
  background: #92764e;
}

.cart-widget-cart .checkout .total {
  margin-bottom: 15px;
  font-size: 23px;
}

.cart-widget-cart .checkout .total span {
  float: right;
}

.cart-widget-cart .promo {
  margin-top: 15px;
}

.cart-widget-cart .promo .invalid-code {
  margin-top: 10px;
}

.cart-widget-cart .empty {
  color: #fff;
  text-align: center;
}

.cart-widget-item {
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.cart-widget-item .button {
  color: #fff !important;
}

.cart-widget-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.cart-widget-item .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-widget-item .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-widget-item .title .header {
  font-weight: 400 !important;
}

.cart-widget-item .title .header .sub {
  margin-top: 10px;
}

.cart-widget-item .button {
  cursor: pointer;
  float: right;
  background: transparent !important;
}

.cart-total {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-weight: 300;
}

.cart-total .lined-throught {
  text-decoration: line-through;
  margin-right: 10px;
  color: #888888;
}

.cart-total .total-total {
  color: #000000;
}
