@import "~@variables/spacings.less";

.wrapper {
  background: #941c1c;
  text-align: center;
  padding: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-top: @header-space;
  .bold {
    margin-right: 10px;
    font-weight: bold;
    letter-spacing: 3px;
  }
}
