.ui.fluid.card.shop-card {
  border: 0 !important;
  height: 100%;
  color: #fff;
  box-shadow: none !important;
  display: flex;
  align-items: stretch;
  background: rgba(0, 0, 0, 0.45) !important;
}

.shop-card .content .card-title {
  font-size: 35px!important;
  font-family: 'Playfair Display', serif!important;
  color: #fff !important;
}

.shop-card .content .card-description {
  font-size:19px!important;
}

.shop-card .content {
  display: flex;
  flex-direction: column;
}

.card-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-card .content .card-description {
  flex-grow: 1;
}

.card-price {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.card-price .in-markets {
  display: flex;
  flex-direction: column;
  margin-left: 20px !important;
  color: #797979;
}

.card-price .site-price {
  font-family: 'Playfair Display', serif!important;
  font-size: 35px !important;
  margin: 0!important;
  font-weight: bold;
}