@import "~@variables/colors.less";

.wrapper {
  background: transparent !important;
  padding: 40px 0;
  color: #ffffff;
  .contact {
    .showMap {
      cursor: pointer;
      display: block;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .socialLinks {
    margin-top: 20px;
  }
  a {
    color: @primary !important;
  }
}
