@import "~@variables/colors.less";

.wrapper {
  background: rgba(0, 0, 0, 0.45) !important;
  padding: 40px 0;
  margin-top: 50px;

  color: #ffffff;
  .contact {
    .showMap {
      cursor: pointer;
      display: block;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .socialLinks {
    margin-top: 20px;
  }
  a {
    color: #eee !important;
  }
}
