@import "~@variables/spacings.less";

.page {
  background: transparent !important;
  padding-top: @header-space + 30px !important;
  padding-bottom: @footer-space + 30px !important;
}

.title {
  margin: auto;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  h1 {
    margin-bottom: 0 !important;
    font-size: 55px !important;
  }
  p {
    font-size: 22px !important;
    margin-top: 0 !important;
  }
}
