.hidden.menu {
  display: none;
}

.visuals,
.visuals-head {
  height:100%;
  width:100%;
  position: absolute;
  z-index:5;
  left:0;
  top:0;
}

.visuals-head .visual {
  position: absolute;
}

.stripe .section-content {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:100;
  display:flex;
  justify-content: center;
  align-items:center;
}

.stripe h1.header {
  font-size:60px;
}

@media screen and (max-width: 900px) {
  .stripe h1.header {
    font-size:30px;
  }
}

.menu.pointing .item {
  text-transform: uppercase;
  font-size:14px;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
@media screen and (max-width: 900px) {
  .masthead h1.ui.header {
    margin-top:8em;
  }
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  max-height: 1000px;
  flex-direction: column;
}
.ui.vertical.stripe.section-1 {
  justify-content: flex-start;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 400px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 3.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

#scene {
  z-index:-1;
  width:100%;
  position: absolute;
  left:0;
  top:0;
  height:100%;
}

#scene .layer {
  width:100%;
  height:100%;
}

.main-background > * {
  width:120%;
  margin-left:-5%;
  margin-top:-5%;
}

@media screen and (max-width:1200px) {
  .main-background > * {
    width:140%;
    margin-left:-10%;
    margin-top:-10%;
  }
}

@media screen and (max-width:835px) {
  .main-background > * {
    width:170%;
    margin-left:-20%;
    margin-top:-10%;
  }
}

@media screen and (max-width:472px) {
  .main-background > * {
    width:250%;
    margin-left:-30%;
    margin-top:-10%;
  }
}

.chapter-1 {
  position: absolute;
  left: 20%;
  bottom: 17%;
  z-index: 25;
}

.chapter-2 {
  position: absolute;
  left: 36%;
  top: 10%;
  z-index: 35;
}

.chapter-3 {
  position: absolute;
  right: 21%;
  top: 40%;
  transform: rotate(36deg);
}

.chapter-4 {
  position: absolute;
  left: -5%;
  top: 17%;
  z-index: 25;
}

.chapter-5 {
  position: absolute;
  left: 37%;
  bottom: 10%;
  z-index: 30;
}

.chapter-6 {
  position: absolute;
  right: -15%;
  bottom: 38%;
  transform:rotate(-90deg)!important;
}

.chapter-7 {
  position: absolute;
  right: 26%;
  top: -1%;
  z-index: 40;
}


.jumbotron .primary-header {
  margin-bottom:0;
  font-size:70px!important;
  font-weight:bold!important;
}

@media screen and (max-width: 900px) {
  .jumbotron .primary-header {
    font-size:30px!important;
  }
}

.jumbotron .secondary-header {
  margin-top:0;
  text-transform: none!important;
  font-weight:300;
}

.jumbotron .action-button {
  margin-top:100px;
}

@media screen and (max-width:1000px) {
  .jumbotron .action-button {
    display:none;
  }
}

.with-rotated-head:before {
  content: "";
  background:#222;
  position: absolute;
  z-index:5;
  left:-10%;
  top:-20px;
  transform: rotate(-1deg);
  height:50px;
  width:120%;
}

@media screen and (max-width: 700px) {
  .with-rotated-head:before {
    top:-10px;
  }
}

.section-1 {
  background:transparent!important;
}

.section-2 {
  padding: 17em 0!important;
  background:url('/static/img/background-section-2.jpg')!important;
  background-size:cover!important;
  position: relative;
  padding-top: 17em!important;
}

.section-2 .images {
  position: relative;
  height:500px;
  width:100%;
}

.section-2 .image-1 {
  position: absolute;
  left: 0;
  top:0;
  width:140%;
}

.section-2 .image-2 {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 80%;
}

.section-2 .images .description {
  position: absolute;
  right: -10%;
  bottom: 8%;
  text-align: right;
}

.section-2 .images .description .header {
  font-size: 45px;
}

.section-2:before {
  background:#222!important;
}

.section-3 {
  text-align: center;
  background:url('/static/img/background-2.jpg')!important;
  background-size:cover!important;
  padding-bottom:28em!important;
  padding-top:28em!important;
}

.section-4 {
  padding: 17em 0!important;
  background:url('/static/img/background-4.jpg')!important;
  background-size:cover!important;
}

.section-4 .images {
  position: relative;
  height:500px;
  width:100%;
}

.section-4 .image-1 {
  position: absolute;
  right: 10%;
  top:0;
  width:150%;
}

.section-4 .image-2 {
  position: absolute;
  left: 15%;
  bottom:10%;
  width:80%;
}

.section-5 {
  text-align:center!important;
  padding: 4em 0!important;
  padding-top: 0!important;
}

.section-5:before {
  background:#1b1c1d!important;
}

.section-contact {
  background:#fff!important;
}

.section-contact:before {
  background:#fff!important;
}


.section-footer {
  background:#111!important;
}

.section-footer:before {
  background:#111!important;
}

@media screen and (max-width: 700px) {
  .section-footer:before {
    top:-20px;
  }
}

.geometry {
  
}

.geometry.square {
  border:3px solid #fff;
  transform: rotate(0deg) scale(0.3);
  width:200px;
  height:200px;
}