/* typography */

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

p.lead {
  font-size:30px!important;
  line-height: 42px;
}

p.lead.small {
  font-size: 26px!important;
  line-height: 39px;
}

@media screen and (max-width:700px) {
  p.lead.small,
  p.lead {
    font-size:18px!important;
    line-height:27px!important;
  }
}

/* segments basic styles */

.pusher-content {
  margin-top:100px;
}

.ui.vertical.segment {
  background: transparent;
}

.segment .section-content {
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:100%;
  z-index:100;
  margin-top:-100px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.segment h1.header {
  font-size:60px;
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 900px) {
  .segment h1.header {
    font-size:40px;
  }
}

.ui.vertical.segment {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top:0;
  padding-bottom:0;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .ui.vertical.segment {
    min-height: auto!important;
    padding-top:0!important;
    padding-bottom:0!important;
    margin-top:4em!important;
    margin-bottom:4em!important;
    
  }
  .segment .section-content {
    margin-top: 0!important;
  }
}